html, body {
		height: 100%;
		margin:0;
		padding:0;
}

img {
		padding:0;
		display:block;
		margin:0 auto;




		max-height:100%;
		max-width:100%;
}
body {
		min-height:100vh;
		position:relative;
		margin:0;
}
footer {
		position:absolute;
		bottom: 3%;
		width:100%;
		text-align:center;
		color: black;
}
#toparrow {
		position:absolute;
		left:0;
		right:0;
		margin:0 auto;
}
#bottomarrow {
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		margin:0 auto;
}
#leftarrow {
		position:absolute;
		margin:auto;
		top:0;
		left:0;
		bottom:0;
}
#rightarrow {
		position:absolute;
		margin:auto;
		top:0;
		right:0;
		bottom:0;
}
#middle {
		position:absolute;
		margin:auto;
		top:0;bottom:0;left:0;right:0;
}
#finishbtn {
	position:absolute;
	margin:auto;
  bottom:3%;
	right:25%;
}
#pathwaybtn {
	position:absolute;
	margin:auto;
	bottom:3%;
	left:25%;
}

.bg {
		height: 100%;
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
}
