/*
* File Name: stars.css
* Author(s): James Guidry
* Date: 7 September 2017
* Description: Style file for the Rating System, specifically the stars, and the
*   divs that make up the sliding box and button for Rating.
*/

#rating {
  /*background: radial-gradient(#333, #000);*/

  top: 10%;

  margin-top: 10%;

  display: flex;
  justify-content: space-around;
  flex: 0.1;

}

#rating span {
  cursor: pointer;
  font-size: 50px;
  padding: 0 10px;
  color: #fff;
  opacity: .5;
  /*transition: all 150ms;*/
  display: inline-block;
  /*transform: rotateX(45deg);*/
  /*transform-origin: center bottom;*/
  margin-top: 10%;
  margin-left: 6%;
  margin-bottom: 15%;
}

#rating span.hover {
  color: #ff0;
  opacity: 1;
  transform: rotateX(0deg);
  text-shadow: 0 0 30px #ffc;
}

/** Rate me button **/
#toggle{

  -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    /*font-family:Arial;*/
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    margin-bottom: 5%;
    flex: 1;
    /*flex-basis: 50px;*/
    z-index: 1;

}


/** Container for the whole rating system **/
#totalContainer{
/*border: 2px solid red;*/
  z-index: 10;
  position: absolute;

  display: none;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 25%;
  left: 46.5%;
  width: 7%;
  min-height: 5%;

}

.ratingSystem{

  left: 80%!important;

}

#mainSlideBox{

  display:  none;
  background: radial-gradient(#333, #000);
  border-radius: 15px;
  position: relative;
  width: 200%;
  /*min-height: 40%;*/
  border: 2px solid black;
  border-radius: 20px;
  /*min-height: 50%;*/
  /*min-width: 100%;*/
  /*display: none;*/
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /*margin-top: 13%;*/

  flex: 3;
  /*min-height: 30vh;*/
}

/** X to close **/
#closeBox p{

  font-family: sans-serif;
  font-size: 20px;

  margin-top: auto;

}

/** Close X style **/
#closeBox{

  position: absolute;
  width: 30px;
  height: 30px;

  color: white;

  border: 1px solid grey;
  border-radius: 100%;
  background-color: grey;

  text-align: center;
  right: 2%;
  top: 2%;
}


/** Rate your exp **/
#boxText {
  /*flex: 3;*/
  position: absolute;
  margin-top: 5%;
  /*margin-bottom: 10%;*/

  font-size: 30px;
  font-family: cursive;

  color: gold;
  min-width: 100%;
  /*margin-left: 25%;*/
  /*margin-top: 10%;*/
  display: flex;
  justify-content: center;


}

#Thankyou{

  position: absolute;
  text-align: center;

  color: gold;
  /*font-size: 30px;*/
  font-family: cursive;
  margin-left: 37%;
  top: 70%;
  align-items: center;
  /*visibility: hidden;*/
  display: none;
  padding-top: 5%;

}
