div.transbox {
  position:absolute;
  margin:auto;
  bottom:40%;
  right:46.5%;
  min-height:5%;
  background-color: #ffffff;
  padding:25px;
  opacity:0.6;
  border: 1px solid black;
}
#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}
