div.transbox {
  position:absolute;
  margin:auto;
  top: 6%;
  right:35%;
  min-height:5%;
  background-color: #ffffff;
  padding:15px;
  opacity:0.6;
}
#close {
    float:right;
    display:inline-block;
    padding:4px 10px;
    background:#ccc;
}
#close:hover {
    float:right;
    display:inline-block;
    padding:4px 10px;
    background:#000;
    color:#fff;
}
