#exhibitName {
  text-align: center;
}

#submit {
  border: 0;
  background: none;
  border-radius: 0px;
  background-color: #cbd0d8;
  padding: 4px;
  font-size: 14px;
  cursor: pointer;
  float: right;
  vertical-align: top;
}
